<!DOCTYPE html>
<html>

<head>
  <title>Monster Slayer</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/app.css">
  <style>
    /* .modal via https://css-tricks.com/considerations-styling-modal/ */

    .modal {
      position: fixed;
      z-index: 100;
      display: block;
      left: 50%;
      top: 50%;
      width: 400px;
      max-width: 100%;
      height: 200px;
      max-height: 100%;
      transform: translate(-50%, -50%);
      background: white;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    }
  </style>
</head>

<body>
  <div id="app" data-vue>
    <section class="row">
      <div class="small-6 columns">
        <h1 class="text-center">YOU</h1>
        <div class="healthbar">
          <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="healthBarStyles('player')">
            {{ playerHealth }}
          </div>
        </div>
      </div>
      <div class="small-6 columns">
        <h1 class="text-center">MONSTER</h1>
        <div class="healthbar">
          <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="healthBarStyles('monster')">
            {{ monsterHealth }}
          </div>
        </div>
      </div>
    </section>
    <section class="row controls" v-if="!newGame">
      <div class="small-12 columns">
        <button id="start-game" @click="newGame = !newGame">START NEW GAME</button>
      </div>
    </section>
    <section class="row controls" v-if="newGame">
      <div class="small-12 columns">
        <button :disabled="weHaveAWinner" id="attack" @click="attack(attackRangeMinMax, 'player')">ATTACK</button>
        <button :disabled="weHaveAWinner" id="special-attack" @click="attack(specialAttackRangeMinMax, 'player')">SPECIAL ATTACK</button>
        <button :disabled="weHaveAWinner" id="heal" @click="heal()">HEAL</button>
        <button :disabled="weHaveAWinner" id="restart" @click="restart()">RESTART</button>
      </div>
    </section>
    <section class="row log" v-if="newGame && (battleLog.length > 0)">
      <div class="small-12 columns">
        <ul>
          <li v-for="entry in battleLog" :class="`${entry[0]}-turn`">{{ entry[1] }}</li>
        </ul>
      </div>
    </section>
    <section class="row modal" v-if="weHaveAWinner">
      <div class="small-12 columns" :style="{textAlign: 'center'}">
        <h1>{{ end }}</h1>
        <button id="restart-modal" @click="restart()">RESTART</button>
      </div>
    </section>
    <footer class="row" style="text-align: center; padding-top: 2rem;">
      <a :href="sourceCode">source code on GitHub</a>
    </footer>
  </div>


  <script src="app.js"></script>

</body>

</html>